
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 18%;
 

}
/*
#defaultOpen{
  background-color: #4CAF50;
  color: black;
  font-size: 30px;
  height: 70px;
  padding-top: 10px;

}*/
#first_tablinks {
  cursor:auto;
	background-color: #28af67;
  font-size: 23px;
  line-height: 20px;
}
#first_tablinks a {
  text-decoration: none;
  color: var(--text-color);
}


/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button img{
  width: 80px;
  height: 45px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #555;
  color:var(--white-color);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 82%;
  border-left: none;
  display: none;
}

/* style the i content */
.tablinks i{
  margin-right:10px; 
}
                
/* Style the tab_bus,tab_driver */
.tab_bus, .tab_driver {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab_bus,tab_driver */
.tablinks_bus , .tablinks_driver{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 15px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab_bus button:hover ,.tab_driver button:hover{
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_bus button.active , .tab_driver button.active {
  background-color: #ccc;
}
/* Style the tab content_bus,driver */
.tabcontent_bus,.tabcontent_driver {
  display: none;
  padding: 20px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.search-container input[type=search] {
  border-radius: 5px;
  margin:15px 30px;
  width: 240px;
  height: 30px;;
}
#Ebus {
	margin: auto;
	padding: 0px 5px 0px 25px;
	background-size: cover;
	width: 1370px;
	float: left;
}
#Ebus .carousel-item {
	height: 500px;
	min-height: 350px;
	background: no-repeat content-box center scroll;
	background-size: cover;
}
#Ebus .py-5 h5 {
	margin: auto;
	padding: 20px;
	font-size: 28px;
}
#Ebus .py-5 h1 {
	font-size: 80px;
}

